<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="ScannerNumber" value="-1" />
		<add key="Directory" value="E:\Dateien von Andreas\Scans\" />
		<add key="BaseFileName" value="Scan.jpg" />
		<add key="isDateAdded" value="true" />
	</appSettings>
	<MailSettings>
		
	</MailSettings>
</configuration>