<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="ScannerNumber" value="-1" />
		<add key="Path" value="C:\Eigene Dateien\Dokumente\" />
		<add key="FileName" value="Scan" />
	</appSettings>
</configuration>